*{
    margin: 0;
    padding: 0;
}

wrapper{
    width: 960px;
    margin: auto;
}

button{
    float: left;
    margin: 10px;
    
}

.box{
    
    height: 220px;
    position: relative;
}

.minibox{
    width: 100px;
    height: 100px;
    background-color: #f60;
    margin: 20px;
    float: left;
    position: relative;
}

#box11, #box12{
    float: none;
}

.color{
    background-color: blueviolet;
}










/* 
    Created on : 20.11.2014, 13:25:34
    Author     : student
*/

